<div id="footer">
    <div id="footer1">
      <div class="col-m-3 col-s-4">
        <h3><b>Chăm sóc khách hàng</b></h3><br />
        Hotline:<a href=""> 0969.616.209</a><br />
        Điện thoại:<a href=""> 0969.616.209</a><br />
        ZALO: <a href="">nona kids</a><br />
        Làm việc: 8h00 - 17h00 từ Th2 - Th7<br />
        Địa chỉ: Mỹ Hào - Hưng yênn<br />
      </div>
      <div class="col-m-3 col-s-4">
        <h3>Danh mục sản phẩm</h3><br />
        <a href="">Quần áo bé trai</a><br />
        <a href="">Quần áo bé gái</a><br />
        <a href="">Xem tất cả danh mục</a><br />
      </div>
  
      <div class="col-m-3 col-s-4">
        <h3>Quy định - Chính sách</h3><br />
        <a href="">Quy định đổi trả hàng</a><br />
        <a href="">Chính sách vận chuyển</a><br />
        <a href="">Về chúng tôi</a><br />
      </div>
      <div class="col-m-3 col-s-4" id="face">
        <!-- <a href="https://www.facebook.com/Thoitrangchobe9">
        <h6>
        <i class= " fab fa-facebook-square"></i>
          <b> Nonakids.com.vn</b>
          </h6>
          <h6>
            <i class="fas fa-map-marker-alt"></i>
            <b>Gia Lâm, Hà Nội</b>
          </h6>
          <i class="fas fa-phone-square"></i>
          <b> Zalo:0865.797.509</b>
        </a> -->
        <img src="assets/img/logo/anhbia1.png" />
      </div>
      <div class="col-m-12 col-m-12" id="camket">
        <h2>BÉ XINH SHOP - THỜI TRANG TRẺ EM</h2><br />
        "Bé xinh shop chuyên bán quần áo trẻ em online Đẹp - Rẻ - Uy Tín tại Hà Nội,
        giao hàng tận nơi trên Toàn quốc.<br />
        Cam kết: Hàng chất lượng, mẫu mã đa dạng, đổi trả hàng nếu không vừa ý."<br />
  
      </div>
      <div class="col-m-12 col-m-12" id="toptimkiem">
        TOP TÌM KIẾM: Bộ bé gái đẹp | Đồ bé trai sành điệu | Quần áo trẻ em size đại |
        Đầm trẻ em đẹp | Quần áo bé đi chơi | Thời trang thu đông | Bộ trẻ em mùa hè<br />
        <label>© Bé xinh shop 2020 - Trang mua sắm online <b>Quan ao tre em, Thoi trang tre em,
            Thoi trang cho be</b></label>
      </div>
    </div>
  </div>