body{
	background-color: grad;
	margin: 0px;
	display: block;
	font-family: arial;
	background-repeat: repeat;
	background-image: url('/assets/img/logo/anhnen1.png');
	background-position: center;
	position:relative;

}	

#shopping{
		width: 91px;height: 20px;
		float: left;
		padding-left: 400px;
}

div{
	display:block;
}
i{
	font-size:30px;
	color: #F7EE48;
}
*{
	box-sizing: border-box;
}
#header{

	width: 100%;
	height: 60px;
	background-color: #796C97;
	border: 1px solid #5062EB;
	position:fixed;
	z-index: 15;
	border-radius: 0px 0px 30px 0px;
}

#nav1{
	float: left;
}
#nav2{
	float: left;
    position: relative;
    top: 10px;
	width: 23%;
}
.search{
	position: relative;
	margin: 0 auto;
	height: 35px;
	width: 290px;
	background-color: white;
	margin: 2px auto 0px 10px;
	border-radius: 20px;
}
.search input{
	border: 0px;
	outline: none;
	width: 290px;
	height: 35px;
	padding-left: 10px;
	font-size: 15px;
	border-radius: 20px;	
}
.search button{
	position: absolute;
	border: 1px ;
	margin: 0px;
	background-color: white;
	top: 2px;
	right: 13px;

}
.search button i{
	width: 20px;height: auto;
	vertical-align: middle;
	color:rgb(146, 106, 106);
}
.cart-zone{
    width: 50px; height: 50px;
	background-color: #796C97;
    border-radius: 30px 0px 30px 10px;
    position: absolute;
    top: 0px;right: 10px;
	
}
.cart-label{
    line-height: 50px;
    position:absolute;
    top: 0px;left: 20px;
}
.cart-img{
    width: 36px;
    position: absolute;
	top:10px;right: 10px;
    float: left;
}
.cart-amount{
    line-height: 20px;
    width: 20px;height: 20px;
    top:10px;right: 10px;
    position: absolute;
    color:#D43D86;
    border-radius:50%;
    background-color:#d8bfc1;
}	


#menumoi
{
	position: absolute;
	width:56%;
	height: 60px;
	left:443px;
	float: left;
	
}

#menu{
	padding-top: 9px;
	border-radius: 5px;
	height: 40px;
	width: 563px;
	margin: auto;
	background-color:#796C97;

}

#menu ul{
	margin: 0px;
	list-style: none;
	padding: 0px;
}
#menu ul li{
	float: left;
	line-height: 40px;
	font-size: 20px;
	margin-right: 0px;
}
#menu ul li i{
	font-size: 30px; 
	width: 30px;
	position: absolute;
	top:0px;
	right: 0px;
	float: left; 
	color: #c7b985bf;
	}
#menu ul li a{
	position: relative;
	display: block;
	text-decoration: none;
	color:#eac896;
	padding: 0px 30px;
	width: 100%;
}

#menu ul li a:hover{
	
	color:#e7ba58;
}


#menu ul ul{
	position: absolute;
	width: 200px;
	display: none;
	background-image: url('/assets/img/nonamoi/quanao (5).JPG');
	z-index: 17;
	background-size: 170%;
	border-radius: 15px;

}
#menu li li{
	float: none;
}
#menu ul li:hover ul{
	display: block;
	

}
#menu li li a{
	color: rgb(123, 175, 235);
	font-size: 13px;
	border-radius: 15px;
}
#menu li li a:hover{
	color:#115cce;
	background-color: rgb(178, 192, 194);
	font-size: 15px;
}
#menu li li a.showall
{
	color: rgb(255, 0, 0);
}

#lienhe
{
	width: 100%;
	height: 35px;
	background-color:#eceaf3;
	position: relative;
	color:#6442D4;
	z-index: 14;
	top:58px;
	overflow: hidden;
}
#sdt
{
	position: absolute;
	left: 30px;
	top: 0px;
	font-size: 13px;
}

#like
{
	position: absolute;
	left: 40%;
	top: 0px;
	font-size: 13px;
	
}
#like a{text-decoration: none;}
#acccound
{
	position: absolute;
	right: 5%;
	top: 10px;
	font-size: 13px;
}	
#acccound a{
	text-decoration: none;
	color:hotpink ;
}

/* Phần div chiều cao cho tim kiếm và sắp sếp */
#content {
    max-width: 3000px;
    min-height: 1100px;
    margin: auto;
    text-align: center;
	margin-top:30px;

}
#search-re{
	width: 100%;
	background-color: chartreuse;
	height: auto;
}


/*------ SLIDE--------- */

#slidemoi
  {
	width: 75%;
	height: auto;
	margin: 0px auto;
	margin-top:65px;
  }
#slider{
	width: 100%;
	height: auto;
	background-color: #796C97;
	overflow: hidden;
	position: relative;
  }
.slide{
	  width: 100%;
	  height: auto;
	  background-color: aquamarine ;
	  max-height: 478px;
  }
#slider #prev
  {
	color:rgb(255, 255, 255);
	position: absolute;
	left:10px;
	top : 45%;
	font-size: 40px;
	border-radius: 4px 0px 0px 4px;
	padding: 20px;
  } 
  #slider #next
  {
	color:rgb(253, 253, 253);
	position: absolute;
	right: 10px;
	top : 45%;
	font-size: 40px;
	border-radius: 0px 4px 4px 0px;
	padding: 20px;
  } 

#slider #next:hover, #slider #prev:hover{
	background-color: rgb(124, 168, 197);
}
  
  
/* BOTTOM-SLIDE */
#bobo
{
	width:100%;
	height:100px;
	background-color: rgb(255, 255, 255);
	padding: 15px 0px;
}
.v1
{
	background-color:rgb(255, 255, 255);
	width: 32.7%;
	height: 60px;
	float:left;
	border-left: 1px solid rgb(194, 216, 208);
	margin-top: 0px;
	padding-top: 10px ;
	padding-left: 20px;
	font-family:'Times New Roman', Times, serif;
}
.v2
{
	border-left: 0px

}
.c1
{
	font-size: 16px;
}
.c2{
	font-size: 13px;
	padding-left: 11px;
	color:rgb(106, 136, 125)
}



#live /* cho dong chữ San Pham hot trong tuan */
{
	font-size: 22px;
	font-family:Arial;
	text-align: center;
	line-height: 50px;
	margin: 60px 20px 20px 20px;
	color:rgb(253, 46, 9);
}
#live span
{
	border-bottom: 2px solid #2d2e20;
}

#main1
{
	width:95%;
	height: auto;
	background-color:yellow ;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	
}

#main2
{
	width:85%;
	height:auto;
	background-color:pink;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	border: 2px solid rgb(207, 171, 155);
	
}


/* For mobile phones: */
[class*="col-"] {
  float: left;
  padding: 15px;

}
/*for mobile*/
@media only screen and (max-width: 1000px) {
	.col-s-1{width:8.33%;}
	.col-s-2{width:16.66%;}
	.col-s-3{width:25%;}
	.col-s-4{width:33.33%;}
	.col-s-5{width:41.66%;}
	.col-s-6{width:50%;}
	.col-s-7{width:58.33%;}
	.col-s-8{width:66.66%;}
	.col-s-9{width:75%;}
	.col-s-10{width:83.33%;}
	.col-s-11{width:91.66%;}
	.col-s-12{width:100%;}
	

	#menu ul li a
	{
		padding-left: 0px;
	}
	#menumoi, #like, #face
	{
		display: none;
	}
	#slider #prev,  #slider #next
	{
		font-size: 30px;
		padding: 10px;
	}


}
/*for medium diveces*/
@media only screen and (min-width: 1000px) {
	.col-m-1{width:8.33%;}
	.col-m-2{width:16.66%;}
	.col-m-3{width:25%;}
	.col-m-4{width:33.33%;}
	.col-m-5{width:41.66%;}
	.col-m-6{width:50%;}
	.col-m-7{width:58.33%;}
	.col-m-8{width:66.66%;}
	.col-m-9{width:75%;}
	.col-m-10{width:83.33%;}
	.col-m-11{width:91.66%;}
	.col-m-12{width:100%;}
}

/*for large divices*/

.col-m-3 , .col-s-6{
	background-color: #E1E5E3;
	 min-height: 200px;
	 float:left;
	 margin: auto;
}
.product{	

	width: 100%;
	height: auto;
	text-align: center;
	float: left;
	margin: 7px 10px 50px 0;
	border: 1px solid #CCC;
	border-radius: 10px;	
	color:#1c8590;
	position: relative;
	border: 1px solid rgb(211, 207, 205);
	overflow: hidden;
	
}
.anhanh
{
	width: 88%;
	height: auto;
	overflow:hidden ;
	border-radius: 10px;
	margin: auto;
}
.product:hover{
	box-shadow: 0px 0px 3px 0px rgb(115, 158, 160);
	cursor: pointer;
}

.product-right{
	margin-right: 0px;
}

.product img{
	/* chỉnh độ mượt của ảnh */
	transition: all 0.3s ease;
	width: 100%;
	height: auto;
	border-radius: 10px;
}
.product img:hover{
	transform: scale(1.2,1.2);

}
.product .product-name{
	font-size: 16px;
	text-decoration: none;
	color: #0c355f;
	display: block;
	padding: 10px;
}
.product-price{
	color: #F5473E;
	font-weight: bold;
	padding: 10px;
}
.btn-buy
{
	background-color: red;
	color: #FFF;
	line-height: 28px;
	width: 76px;
	border-radius: 4px;
	border: none;
	margin: 0px 5px 30px;
	opacity: 0.6;

}
.btn-buy:hover
{
	cursor: pointer;
	opacity: 1.0;
}
.btn-view
{
	background-color: rgb(179, 170, 170);
	color: #000;
	line-height: 28px;
	width: 76px;
	border-radius: 4px;
	border: none;
	margin: 0px 5px 30px;
	opacity: 0.6;
	/* bỏ gạch chân */
}
.btn-view:hover{

	cursor: pointer;
	opacity: 1.0;
}

.seemore
{
	width: 120px;
    height: 25px;
    background-color: #81b4b1d9;
    bottom: 0px;
    right: 3px;
	border-radius: 30px;
	position:absolute;
	padding-bottom: 20px;

}
.seemore a span{
	margin: 5px 0px 0 15px;
	color:rgb(209, 221, 37);
	line-height: 30px;

}
.seemore a{
	text-decoration: none;/* Xoá gạch chân liên kết */
}










/* footer-------------------- */

#footer{
border-radius: 5px;
font-size: 13px;
Color: #444444;
font-family:"Helvetica Neue", Helvetica, Roboto, "Droid Sans", Arial, sans-serif;
margin-top: 30px;
width: 100%; 
height:420px; 
background-color: #CDD7DA;
border-top: 2px solid rgb(223, 216, 191);
}
#footer .col-m-3{
	background-color: #CDD7DA;
}
#footer a{
	text-decoration: none;
	color: #0000ff;
}
#footer1
{
	margin: auto;
	background-color: #0000ff;
	width: 90%;

}


#face
{
	padding:0px;
	position: relative;
	right:0px;
	

}
#face a{
	color: #a1b191;
	text-decoration: none;
	position: absolute;
	 padding: 60px 0 0 0px;
	 left: 10px;
	 opacity: 0.8;
	 
}
#face h4{
	margin: 0px;
	
}
#face i
{
	color:#4D69A2;
	 font-size:20px;
}

#face img{
	width: 350px;
	 height: 170px;
	 border-radius: 10px;
}

#m1
{
	background-image: url('assets/img/nonamoi/quanao (11).JPG');
}
#camket
{
	opacity: 0.8;
	color:#444444;
}
#camket h2{
    color:rgb(216, 204, 30);
}
#footer1 h3{
	font-size: 16px;
    color:#444444;
}
#toptimkiem{
	margin: auto;
	padding: 20px 0px 0px 10%;
	font-size: 14px;
}
#toptimkiem label{
	padding-left:10%;
}








