


<div id="header">
    <div id="nav1">
      <a id="logo" routerLink="">
        <img src="assets/img/nonamoi/anhbia3.png" style="height: 58px; border-radius:5px; margin: 0px 0px;" />
      </a>
    </div>
    <div id="nav2">
      <div class="search">
        <input id="txt-search" type="text" placeholder="Tìm kiếm">
        <button id="btn-search"><i class="fas fa-search"></i></button>
  
      </div>
    </div>
    <a routerLink="customers/cart" target="_blank">
      <div class="cart-zone">
        <i class="fas fa-shopping-cart"
          style="font-size: 30px; width: 35px;position: absolute; top:10px;right: 10px; float: left; color: #D43D86 "></i>
        <label class="cart-amount">0</label>
      </div>
    </a>
  
    <div id="menumoi">
      <div id="menu">
        <ul>
          <li><a href="#"> Bé gái<i class="fas fa-sort-down"></i></a>
            <ul>
              <li><a href="#">Bộ đồ bé gái</a></li>
              <li><a href="#">Váy đầm bé gái</a></li>
              <li><a href="#">đồ bơi bé gái</a></li>
              <li><a href="#">Áo bé gái</a></li>
              <li><a href="#">Quần bé gái</a></li>
              <li><a href="#">Giầy bé gái</a></li>
              <li><a class="showall" href="#">Xem tất cả ></a></li>
  
            </ul>
          </li>
  
          <li><a href="#"> Bé trai<i class="fas fa-sort-down"></i></a>
            <ul id="m1">
              <li><a routerLink="homes/cuahang">Bộ đồ bé trai</a></li>
              <li><a routerLink="#">Giầy bé trai</a></li>
              <li><a href="#">Đồ bơi bé trai</a></li>
              <li><a href="#">Áo bé trai</a></li>
              <li><a href="#">Quần bé trai</a></li>
              <li><a href="#">Giầy bé trai</a></li>
              <li><a class="showall" href="#">Xem tất cả ></a></li>
            </ul>
          </li>
          <li><a href="#"> Phụ kiện<i class="fas fa-sort-down"></i></a>
            <ul id="m2">
              <li><a href="#">Giầy bé gái</a></li>
              <li><a href="#">Giầy bé trai</a></li>
              <li><a href="#">nón cho bé</a></li>
              <li><a href="#">Balo-túi đeo</a></li>
              <li><a href="#">Giầy bé trai</a></li>
              <li><a class="showall" href="#">Xem tất cả ></a></li>
            </ul>
          </li>
          <li><a href="#"> Sơ sinh<i class="fas fa-sort-down"></i></a>
            <ul>
              <li><a href="#">Body liền quần</a></li>
              <li><a href="#">Bộ sơ sinh</a></li>
              <li><a class="showall" href="#">Xem tất cả ></a></li>
            </ul>
          </li>
        </ul>
      </div> 
    </div>

  </div>
  <div id="lienhe">
    <div id="sdt">
      <i class="fas fa-phone-volume" style="color:#D43D86; font-size: 25px;"></i>0865797509
    </div>
  
    <div id="like">
      <i class="far fa-kiss-wink-heart" style="color:#D43D86; font-size: 25px"></i><a href="#">yêu thích(99)</a>
    </div>
  
    <div id="acccound">
      Xin chào! Bạn có thể <a routerLink="dangnhap" href="dangnhapnona.html"> Đăng nhập </a> hoặc <a href="dangnhapnona.html">Tạo tài
        khoản</a>
    </div>
  
  </div>
