<link rel="stylesheet" href="/assets/css/style_pay.css">
<section class="main" style="padding-top: 60px;">
    <div class="row">
        <form [formGroup]="frmKhach" (ngSubmit)="onSubmit(frmKhach.value)">
            <div class="col-8 col-s-12 padding-form">
                <div class="title">THÔNG TIN THANH TOÁN</div>
                <div class=note>(<span>*</span>) Bắt buộc</div>
                <div class="row">
                    <div class="col-12 col-s-12">
                        <label for="txt_hoten">Họ tên: <span>*</span></label><br>
                        <input formControlName="txt_hoten" type="text" id="txt_hoten" ngModel>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-s-12">
                        <label for="txt_sdt">Số điện thoại: <span>*</span></label><br>
                        <input formControlName="txt_sdt" type="text" id="txt_sdt" ngModel>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-s-12">
                        <label for="txt_email">Email:</label><br>
                        <input formControlName="txt_email" type="text" id="txt_email" ngModel>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-s-12">
                        <label for="txt_diachi">Địa chỉ: <span>*</span></label><br>
                        <textarea formControlName="txt_diachi" id="txt_diachi" cols="135" rows="1" ngModel></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-s-12">
                        <label for="txt_ghichu">Ghi chú:</label><br>
                        <textarea formControlName="txt_ghichu" id="txt_ghichu" cols="135" rows="1" ngModel></textarea>
                    </div>
                </div>

            </div>
            <div class="col-4 col-s-12 padding-form">
                <div class="title">ĐƠN HÀNG</div>
                <div class="row pay" style="border-bottom: 3px solid #dbdbdb;">
                    <div class="col-6 col-s-12" style="text-align: left;">
                        <label>Sản phẩm</label>
                    </div>
                    <div class="col-6 col-s-12" style="text-align: right;">
                        <label>Tổng</label>
                    </div>
                </div>
                <div class="row pay" *ngFor="let it of list_items">
                    <div class="col-6 col-s-12" style="text-align: left;">
                        <label>{{it.tenSanPham}} * {{it.quantity}}</label>
                    </div>
                    <div class="col-6 col-s-12" style="text-align: right;">
                        <label>{{it.quantity * it.gia}}đ</label>
                    </div>
                </div>

                <div id="spham"></div> -->
                <div class="row pay">
                <div class="col-6 col-s-12" style="text-align: left;">
                    <label>Sản phẩm 1 * 1</label>
                </div>
                <div class="col-6 col-s-12" style="text-align: right;">
                    <label>700,000đ</label>
                </div>
            </div>
            <div class="row pay">
                <div class="col-6 col-s-12" style="text-align: left;">
                    <label>Sản phẩm 1 * 1</label>
                </div>
                <div class="col-6 col-s-12" style="text-align: right;">
                    <label>700,000đ</label>
                </div>
            </div> 
                <div class="row trace">
                    <div class="col-6 col-s-12" style="text-align: left;">
                        <label>Tổng</label>
                    </div>
                    <div class="col-6 col-s-12" style="text-align: right;">
                        <label>{{tTong}}</label>đ
                    </div>
                </div>
                <div class="row pay">
                    <div class="col-12 col-s-12" style="text-align: left;">
                        <button type="submit">ĐẶT HÀNG</button>
                    </div>
                </div>
                <div class="row pay">
                    <form action="#" method="POST">
                        <div class="payments">
                            <input type="radio" id="tienmat" name="payments" value="tm" class="radio-payments">
                            <label for="tienmat" class="label-payments">Thanh toán tiền mặt khi nhận hàng (tiền mặt /
                                quẹt thẻ ATM, Visa, Master)</label>
                        </div>
                        <div class="payments">
                            <input type="radio" id="chuyenkhoan" name="payments" value="ck" class="radio-payments">
                            <label for="chuyenkhoan" class="label-payments">Thanh toán qua chuyển khoản qua tài khoản
                                ngân hàng (khuyên dùng)</label>
                            <input type="text" id="stk" placeholder="Nhập số tài khoản ngân hàng..."
                                style="margin-top: 10px;">
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</section>